* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  color: #391145;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "SUITE-Regular", sans-serif;
}
