@charset "UTF-8";

section {
  /* overflow: hidden; */
  min-height: 80vh;
  /* height: 50%; */
}
div.section_box {
  display: flex;
  height: 70vh;
  /* border: 1px solid red; */
}

aside.left {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* height: 95%; */
}
aside.right {
  overflow: auto;
  display: flex;
  height: 93%;
  flex-direction: column;
  /* align-items: stretch; */
  flex: 1;
  /* justify-content: center; */
  margin-top: 5.2rem;
  border: 3px dashed #e6cadd;
  border-radius: 10px;
  margin-right: 2rem;
  div.title {
    /* border: 1px solid black; */
    background-color: #e9dcd6;
    display: flex;
    flex-direction: column;
    margin: 12px 8px 0 8px;
    padding: 8px;
    /* background-image: linear-gradient(19deg, #fccecb 20%, #e2daff 100%); */
    border-radius: 10px;
    font-weight: 600;
    /* overflow: scroll; */
    &:hover {
      cursor: pointer;
    }
    article.content {
      padding: 8px 0;
    }
    article.teacherName {
      width: 20%;
      background-color: #e2daff;
      padding: 8px;
      font-size: 0.9rem;
      text-align: center;
      border-radius: 10px;
    }
  }
}
aside.right::-webkit-scrollbar {
  display: none;
}
.calendar {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  justify-content: center;
  margin: 40px;
}

.calHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}
.year-month {
  font-size: 35px;
}
.calNav {
  display: flex;
  border: 1px solid #faaca8;
  border-radius: 5px;
}
.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: #faaca8;
  cursor: pointer;
}
.go-today {
  width: 75px;
  border-left: 1px solid #faaca8;
  /* border-right: 1px solid #faaca8; */
}

.days {
  display: flex;
  margin: 25px 0 10px;
}
.day {
  width: calc(100% / 7);
  text-align: center;
}
.dates {
  display: flex;
  flex-flow: row wrap;
  height: 450px;
  border-top: 1px solid #faaca8;
  overflow: auto;
  /* border-right: 1px solid #faaca8; */
}

.dates::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.dates:hover::-webkit-scrollbar {
  display: block;
}

.dates::-webkit-scrollbar-thumb {
  background-color: #e9dcd6;
  border-radius: 5px;
}

.dates::-webkit-scrollbar-thumb:hover {
  background-color: #faaca8;
}

.date {
  width: calc(100% / 7);
  /* height: calc(100% / 5); */
  height: 25%;
  /* padding: 15px; */

  text-align: center;
  border-bottom: 1px solid #faaca8;
  border-left: 1px solid #faaca8;

  font-weight: 900;

  &:hover {
    cursor: pointer;
  }
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}

.other {
  opacity: 0.5;
}

.today {
  border-bottom: 1px solid #faaca8;
  width: 50%;
  margin: 0 auto;
}

div.date {
  border-right: 1px solid #faaca8;
}
span.title {
  /* background-color: #654df1; */
  color: #391145;
  width: 100%;
  border-radius: 2px;
  margin: 2px auto 0;
  font-size: 0.8rem;
}
.title-container {
  display: flex;
  flex-direction: column;
}

.go-today,
.go-prev,
.go-next {
  font-weight: 700;
}

.cal_wrapper {
  height: 100%;
  /* background-color: #e6cadd; */
  border: 3px dashed #e6cadd;
  padding: 8px;
  border-radius: 10px;
}
