@charset "UTF-8";

section.classPage {
  min-height: 80vh;
}

div.section_box {
  display: flex;
  height: 70vh;
  gap: 1rem; /* 두 박스 사이의 간격을 조정 */
}

aside.left {
  display: flex;
  flex-direction: column;
  /* margin-left: 2rem; 제거 */
}

aside.right {
  display: flex;
  height: 93%;
  flex-direction: column;
  width: 50%;
  /* margin-top: 5.2rem; 제거 */
  border-radius: 10px;

  div.title {
    background-color: #e9dcd6;
    display: flex;
    flex-direction: column;
    margin: 12px 8px 0 8px;
    padding: 8px;
    border-radius: 10px;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
    article.content {
      padding: 8px 0;
    }
    article.teacherName {
      width: 20%;
      background-color: #e2daff;
      padding: 8px;
      font-size: 0.9rem;
      text-align: center;
      border-radius: 10px;
    }
  }
}

aside.right::-webkit-scrollbar {
  display: none;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  justify-content: center;
  margin: 40px;
}

.calHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

.year-month {
  font-size: 35px;
}

.calNav {
  display: flex;
  border: 1px solid #faaca8;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: #faaca8;
  cursor: pointer;
}

.go-today {
  width: 75px;
  border-left: 1px solid #faaca8;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 450px;
  border: 1px solid #faaca8;
  overflow: auto;
}

.dates::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.dates:hover::-webkit-scrollbar {
  display: block;
}

.dates::-webkit-scrollbar-thumb {
  background-color: #e9dcd6;
  border-radius: 5px;
}

.dates::-webkit-scrollbar-thumb:hover {
  background-color: #faaca8;
}

.date {
  width: calc(100% / 7);
  height: 25%;
  text-align: center;
  border: 1px solid #faaca8;
  font-weight: 900;
  &:hover {
    cursor: pointer;
  }
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}

.other {
  border: 1px solid #faaca8;
}

.today {
  border-bottom: 1px solid #faaca8;
  width: 50%;
  margin: 0 auto;
}

span.title {
  color: #391145;
  width: 100%;
  border-radius: 2px;
  margin: 2px auto 0;
  font-size: 0.8rem;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.go-today,
.go-prev,
.go-next {
  font-weight: 700;
}

.cal_wrapper {
  height: 100%;
  border: 3px dashed #e6cadd;
  padding: 8px;
  border-radius: 10px;
}
