div.detail_box {
  width: 100%;
  margin: 20px auto;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 20px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 15px 0;
}
div.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e9dcd6;
  /* background: radial-gradient(circle, #e9dcc9, #e9dcd9); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

div.teacher_info {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;

  div {
    display: flex;
    strong {
      flex: 1;
      font-size: 1rem;
      padding: 4px;
    }
    span {
      flex: 2;
      font-size: 1rem;
      padding: 4px;
    }
  }
}

div.img_box {
  width: 100%;
  padding: 8px;
  background-color: #e6cadd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    width: 60%;
    margin: 1rem 3rem;
    .pro {
      color: #231e39;
      background-color: #febb0b;
      border-radius: 3px;
      font-size: 14px;
      font-weight: bold;
      padding: 3px 7px;
    }
  }
  .pro_box {
    display: flex;
    align-items: center;
    h3 {
      margin-left: 30%;
    }
  }
  img {
    background-color: #391145;
    border-radius: 50%;
    padding: 12px;
  }
}
div.container {
  padding: 1rem 16px 0.5rem 16px;
}

div.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  div {
    display: flex;
    strong {
      flex: 1;
    }
    p {
      flex: 2;
    }
  }
}
div.info.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #fccecb 20%, #e2daff 100%);

  border-radius: 10px;
  padding: 8px;
  strong {
    flex: 1;
    text-align: center;
  }
  p {
    flex: 1;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9dcd6;
  }
  a {
    flex: 1;
  }
}
a.message_btn {
  width: 20%;
  border-radius: 10px;
  background-color: #e6cadd;
  color: #391145;
  font-weight: 200;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.detail.btn_box {
  margin: 5px 10px 20px auto;
  a {
    width: 30%;
    margin: 5px auto;
    border-radius: 0;
    background-color: #e6cadd;
    color: #391145;
    font-weight: 200;
    border-radius: 10px;
  }
}

/*-----------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.nocard {
  padding: 2rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e9dcd6;
  /* background: radial-gradient(circle, #e9dcc9, #e9dcd9); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
